{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <select class="form-select" aria-label="Default select example" name="category">
            <option selected>Select Category</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Link to an Image">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" name="starting_bid" aria-label="Amount (to the nearest dollar)" placeholder="Starting Bid">
        </div>
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>

{% endblock %}