{% extends "auctions/layout.html" %}

{% block body %}


    {% if not listings %}
      <h4>There are no listings under current filters</h4>
      <a href="{% url 'index' %}">Return to the main page</a>
    {% endif %}

    <h2>{{title}}</h2>
    
    <div class="dropdown" style="text-align: right; padding-right: 6vw; padding-bottom: 6vw;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Select Category
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item active" href="{% url 'index' %}">All Listings</a></li>
        <li><hr class="dropdown-divider"></li>
        {% for category in categories %}
          <li><a class="dropdown-item" href="{% url 'category' category.title %}">{{category.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for listing in listings %}
    {% if listing.isActive  %}
    <div class="card mb-4" style="max-width: 70vw;">
        <div class="row g-10">
          <div class="col-md-4">
            <img src="{{listing.image_link}}" alt="Listing Image"
            style="width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            height: 18vw;
            object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">{{listing.category}}</small></p>
              <h5 class="card-title"><a href="{% url 'listing' listing.id %}">{{listing.title}}</a></h5>
              <p class="card-text">{{listing.description | truncatechars:280}}</p>
              <p class="card-text"><small class="text-muted">{{listing.date_listed}}</small></p>
              <hr>
              <h5 class="card-title">${{listing.starting_bid}}</h5>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
{% endblock %}