{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}

    <h2>{{listing.title}}</h2>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="card mb-3">

        <img src="{{listing.image_link}}" class="card-img-top" alt="Listing Image"
        style="width: 40%;
        height: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;">

        <div class="card-body">
          <p class="card-text"> {{listing.description}}</p>
          <b></b>
          <p class="card-text"> Category: <strong>{{listing.category}}</strong></p>
          <p class="card-text"> Seller: <strong>{{listing.seller}}</strong></p>
          <p class="card-text"> Seller's email: {{listing.seller.email}}</p>
          <p class="card-text"><small class="text-muted">Listing Date: {{listing.date_listed}}</small></p>
          {% if isSeller and listing.isActive %}
            <a href="{% url 'closelisting' listing.id %}" class="btn btn-outline-danger">Close Listing for ${{listing.starting_bid}}</a>
          {% elif listing.isActive %}
            <a href="{% url 'togglewatchlist' listing.id %}" class="btn btn-outline-secondary">
                {% if isWatched %}
                  Remove from Watchlist
                {% else %}
                  Add to Watchlist
                {% endif %}
            </a>
          {% endif %}
        </div>
    </div>

    {% if listing.isActive %}
    <form class="row row-cols-lg-auto g-3 align-items-center" action="{% url 'listing' listing.id %}" method="post" style="padding: 2%;">
        {% csrf_token %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              {% if BidCount > 0 %}
              <h1 class="display-4">Current Bid: ${{listing.starting_bid}}</h1>
              <p class="lead">{{BidCount}} bid(s) so far</p>
              {% else %}
              <h1 class="display-4">Starting Bid: ${{listing.starting_bid}}</h1>
              {% endif %}
              {% if not isSeller %}
              <p class="lead">Place a bid higher than ${{listing.starting_bid}} to participate in the auction.</p>
            </div>
        </div>
        
        <div class="form-group mb-3">
            {{ form.bid_amount|attr:"placeholder:Bid amount"|add_class:"form-control" }}
        </div>
        <input class="btn btn-success mb-3" type="submit" value="Submit Bid">
        {% endif %}
    </form>
    {% endif %}

    <hr>
    <h4>Comments:</h4>

    {% for comment in comments%}
      <div class="card border-secondary mb-4" style="max-width: 36rem; ">
        <div class="card-header"><strong>{{comment.author}}</strong>           <small>{{comment.date_commented}}</small></div>
        <div class="card-body text-secondary">
          <p class="card-text">{{comment.comment}}</p>
        </div>
      </div>
    {% endfor %}

    <form class="cols-lg-auto g-3 align-items-center" action="{% url 'listing' listing.id %}" method="post" style="padding: 2%; width: 60%;">
      {% csrf_token %}
      <div class="form-group mb-3">
        {{ CommentForm.comment|attr:"placeholder:Add Comment"|add_class:"form-control"| attr:"rows:5"}}
      </div>
      <div class="form-group mb-3">
        <input class="btn btn-outline-secondary mb-4" type="submit" value="Submit Comment" style="display: block;">
      </div>
      
  </form>

    

{% endblock %}